{{> header}}



<div class="jumbotron">
    <h1 class="display-4">Federico Minaya</h1>
    <p class="lead">Este es el Desafio N°2 Que Hice para el Torneo de Todo Tendencias</p>
    <hr class="my-4">
    <p>Si Deseas Leer todo el Codigo Fuente te dejo mi Github</p>
    <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://github.com/Fedeya/Torneo-TT" role="button">Leer Codigo</a>
    </p>
</div>


{{> footer}}